[submodule "DirectXMath"]
	path = DirectXMath
	url = https://helgames@github.com/Microsoft/DirectXMath.git
[submodule "DirectXSDK"]
	path = DirectXSDK
	url = https://helgames@github.com/apitrace/dxsdk.git
